<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body style="margin: 0; padding: 0;">
    <div style="background: black; display: flex; gap: 20px; padding: 8px;">
        <h4><a href="/" style="text-decoration: none; color:white;">Home</a></h4>
        <h4><a href="/first_app/about" style="text-decoration: none; color:white;">About</a></h4>
        <h4><a href="/first_app/contact" style="text-decoration: none; color:white;">Contact</a></h4>
    </div>
   
    <h1>This is about page</h1>
    
</body>
</html>